# # # 字节跳动npm镜像（目前最稳定）
# registry=https://registry.npmmirror.com/

# # Electron 镜像（字节跳动）
# electron_mirror=https://cdn.npmmirror.com/binaries/electron/
# electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/

# # 其他二进制依赖镜像
# sqlite3_binary_host_mirror=https://cdn.npmmirror.com/binaries/sqlite3/
# fsevents_binary_host_mirror=https://cdn.npmmirror.com/binaries/fsevents/


# 通用npm镜像
registry=https://registry.npmmirror.com/